<nav class="flex justify-between items-center flex-wrap py-4 px-4 font-bold  text-pink-500">
    <div class="not-prose">
        <h1 class="text-4xl md:text-5xl bg-gradient-to-r from-blue-800 via-green-600 to-indigo-800 inline-block text-transparent bg-clip-text"><a href="/">The Drink Shack</a></h1>
    </div>
    <div>
        <ul class="flex gap-6 font-display">
            <li><a href="/" class="text-xl md:text-2xl tracking-wider md:font-medium">Home</a></li>
            <li><a href="/menu" class="text-xl md:text-2xl tracking-wider md:font-medium">Menu</a></li>
            <li><a href="/about" class="text-xl md:text-2xl tracking-wider md:font-medium">About</a></li>
        </ul>
    </div>
</nav>