{% extends "_layouts/_layout.twig" %}
{% block content %}
<section class="max-w-6xl mx-auto prose prose-lg prose-h1:text-indigo-600 prose-h2:text-indigo-600  my-40 px-4 bg-white/50">
<div class="not-prose">
    <h1 class="text-3xl md:text-6xl font-bold bg-gradient-to-r from-blue-700 via-green-600 to-indigo-500 inline-block text-transparent bg-clip-text tracking-wider">{{ entry.title }}</h1>
</div>

    {{ entry.formattedText }}
</section>
{% endblock %}
