<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Drink Shack</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link href="/css/styles.css" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    
</head>
<body class="ltr">
<div id="container" class="max-w-4xl mx-auto prose prose-lg my-40 px-10">
    <h1>Cmon' Attcha, From a Dusty Road...</h1>
    <h2>Good lovin', is what I got!</h2>
    <h3>By the truckload!</h3>
    <h4>And when you get it, you got something!</h4>
    <p>Okey-dokey, we got Craft, <a href="https://tailwindcss.com">Tailwind</a> (with Prose) and <a href="https://alpinejs.org">AlpineJS</a> humming along.</p>
</div>

    
</body>
</html>
