{% extends "_layouts/_layout.twig" %}
{% block content %}
    <h1>{{ entry.title }}</h1>
    <h2>Good lovin', is what I got!</h2>
    <h3>By the truckload!</h3>
    <h4>And when you get it, you got something!</h4>
    <p>Okey-dokey, we got Craft, <a href="https://tailwindcss.com">Tailwind</a> (with Prose) and <a href="https://alpinejs.org">AlpineJS</a> humming along.</p>
    {% endblock %}
